# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\chesnokovdmitriy\school\AT_task_2_1_Selenide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
